.product-detail {
  max-width: 350px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9fafb;
  color: #333;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.product-detail img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-detail h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.product-detail h4 {
  font-size: 1.1rem;
  color: #555;
}

.product-detail p {
  font-size: 0.95rem;
  margin: 5px 0;
  color: #555;
}

.product-detail span {
  display: block;
  font-size: 1.1rem;
  color: #003366; /* Dark Blue for emphasis */
  margin: 8px 0;
}

.product-detail .category,
.product-detail .quantity,
.product-detail .size {
  font-size: 0.85rem;
  color: #718093;
}

.product-detail button {
  width: 48%;
  padding: 10px;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  background-color: #003366; /* Dark Blue for button */
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.product-detail button:hover {
  background-color: #004abf; /* Lighter blue for hover effect */
  transform: scale(1.05);
}

.quantity-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.quantity-controls button {
  width: 35px;
  height: 35px;
  font-size: 1.1rem;
  background-color: #003366; /* Dark Blue for quantity controls */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.quantity-controls button:hover {
  background-color: #004abf;
}

.quantity-controls span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.mrp {
  color: #ff0000;
  font-size: 1.1em;
  font-weight: bold;
  margin: 8px 0;
  display: block;
  text-decoration: line-through;
}

.price {
  color: #003366;
  font-size: 1.3em;
  font-weight: bold;
  margin: 8px 0;
  display: block;
}

.carousel-button {
  margin-left: 5px;
}

.product-info {
  margin-top: 15px;
}
